{%- for block in item.downloadDoc.all() -%}
  {% switch block.type %}

    {% case "mxDocDownloadCSV" %}

      {% for asset in block.cellFile.all() %}
        <a href="{{ asset.url }}">{{ block.cellLabel }}</a>
      {% endfor %}

    {% case "mxDocDownloadExt" %}

      <a href="{{ block.cellLink }}" target="_blank">{{ block.cellLabel }}</a>

  {% endswitch %}

  {% if not loop.last %} / {% endif %}

{%- endfor -%}
