{% set navDropdown = craft.entries.id('24,25,7').fixedOrder(true).all() %}
{% set currentID = entry.id %}

<li class="dropDown">
  <a href="#">{{ 'Info' | t }}</a>
  <ul>
    {% for nav in navDropdown %}
      {% if loop.first %}{% endif %}
      <li class="{% if currentID == nav.id %}active{% endif %}">
        <a href="{{ nav.url }}" class="keephash">{{ nav.title }}</a>
      </li>
    {% endfor %}
  </ul>
</li>
