{%- for block in item.pubDoc -%}
  {% switch block.type %}

    {% case "mxDocPubPDF" %}

      {% for asset in block.cellFile %}
        <a href="{{ asset.url }}">{{ block.cellLabel }}</a>
      {% endfor %}

    {% case "mxDocPubExt" %}

      <a href="{{ block.cellLink }}" target="_blank">{{ block.cellLabel }}</a>

  {% endswitch %}

  {% if not loop.last %} / {% endif %}

{%- endfor -%}
