.gridMapViewer {
  display: grid;
  @extend %heightViewport;
  @extend %horizontalGrid;
  grid-template-rows: 55vh 35vh;
  @include smUp {
    grid-template-rows: minmax(300px,60vh) minmax(150px,40vh);
  }
}
.mapContainer {
  background-color: $glamosColor;
  grid-column: 1/-1;
  grid-row: 1/2;
  @include smUp {
    grid-column: 1/-3;
  }
}
.outputContainer {
  grid-column: 1/-1;
  background-color: yellow;
  z-index: 100;
  @include smUp {
    grid-column: 2/-3;
    grid-row: -2/-1;
  }
}
.sidebarContainer {
  grid-column: 1/-1;
  @include smUp {
    grid-column: -3/-1;
    grid-row: 1/-1;
  }
}
