.factsheetGrid {
  @extend %readingWidth;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: $pageTitleColumn minmax(300px, 35vh) minmax(300px, 35vh) auto;
  grid-template-columns: repeat(4, 1fr);
  @include smDown {
    padding: 0 15px;
  }
  @include smUp {
    grid-template-columns: repeat(8, 1fr);
  }
  .pageTitle {
    grid-column: 1/-1;
  }
  .fsMap {
    grid-column: 1/-1;
    @include smUp {
      grid-column: span 5;
    }
  }
  .fsMeasurements {
    grid-column: 1/-1;
    @include smUp {
      grid-column: span 2;
    }
  }
  .fsPhoto {
    grid-column: 1/-1;
    @include smUp {
      grid-column: span 2;
    }
  }
  .fsComment {
    grid-column: 1/-1;
    @include smUp {
      grid-column: span 2;
    }
  }
  .fsExport {
    @extend %hiddenSmDown
  }
  .fsChart {
    grid-column: span 4;
  }

}
