.indexGrid {
  display: grid;
  @extend %horizontalGrid;
  grid-template-rows: 70vh 20vh auto auto;
  @include smUp {
    grid-template-rows: minmax(140px, 20vh) minmax(300px, 50vh) 40px 20vh auto;
  }
}

.indexHead {
  grid-column: 1/-1;
  @extend %hiddenSmDown;
}
.indexMap {
  background-color: #765;
  grid-column: 1/-1;
  @include smDown {
    margin-top: 50px;
  }
  @include smUp {
    grid-row: 2/4;
  }
}
.mapMetadata {
  //background-color: yellow;
  padding-top: 30px;
  grid-column: 1/-1;
  @include smUp {
    grid-column: -3/-2;
    grid-row: 2/3;
  }
}
.indexOversight {
  background-color: $glamosColor;
  grid-column: 1/-1;
  @include smUp {
    grid-row: 4;
  }
}
.socialMedia {
  background-color: #476;
  grid-column: 1/-1;
  @include smUp {
    grid-column: -3/-2;
    grid-row: 3/-1;
  }
}
.welcomeText {
  background-color: #478;
  grid-column: 1/-1;
  @include smUp {
    grid-column: 2/-3;
  }
}

//remove standard navbar from homepage
.homepage {
  .indexGrid {
    margin-top: 0;
    min-height: 80vh;
  }
}
