.glacierData {
  background-color: $txtInvert;
  margin-top: 30px;
  padding: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @extend %boxShadow;
  .singleValue {
    width: 100%;
    &:nth-last-child(-n+3) {
      width: 45%;
      p {
        @extend %fontL;
        font-weight: 700;
      }
    }
  }
  .hint {
    width: 100%;
  }
}
