.navBar {
  background-color: $glamosColor;
  position: fixed;
  top: 0;
  width: 100%;
  .navGrid {
    height: 50px;
    display: grid;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-areas:  "navToggle branding";
    padding: 0 10px;
    @include smUp {
      padding: 0;
      grid-template-columns: auto auto $sidebarGridSize;
      grid-template-areas:  "branding navMain navLang";
    }
    @include mdUp {
      grid-template-columns: auto auto $sidebarLGgridSize;
    }
    .glamosBrand {
      grid-area: branding;
      display: flex;
      justify-content: space-around;
      img {
        max-width: 40px;
        @include smUp {
          max-width: 100px;
        }
        &.desktop {
          @extend %hiddenSmDown;
        }
        &.mobile {
          @extend %hiddenSmUp;
        }
      }
    }
    .navMobileToggle {
      grid-area: navToggle;
      @extend %hiddenSmUp;
      @extend %hamburger;
    }
    .navMain {
      grid-area: navMain;
      @extend %verticalList;
      @extend %hiddenSmDown;
    }
    .navLang {
      grid-area: navLang;
      @extend %verticalList;
      @extend %hiddenSmDown;
    }
  }
}
