.navBar {
  a {
    text-decoration: none;
    &:hover, .activeLang a {
      color: $linkColor;
      text-decoration: underline;
    }
  }
  .navTitle {
    display: block;
    h1 {
      margin: 0;
      text-transform: uppercase;
      @extend %fontM;
      font-weight: bold;
      padding-left: 10px;
    }
  }
  .navMain {
    @extend %fontM;
    li {
      padding-right: 10px;
    }
  }
  .navLang {
    @extend %fontS;
    li {
      padding-right: 5px;
    }
  }
}

#mainMobileNav:not( .mm-menu ) {
   display: none;
}
