.navBar {
  a {
    text-decoration: none;
    &:hover, .activeLang a {
      color: $linkColor;
      text-decoration: underline;
    }
  }
  .navTitle {
    display: block;
    color: $txtInvert;
    h1 {
      margin: 0;
      text-transform: uppercase;
      @extend %fontM;
      font-weight: 700;
    }
  }
}
.navMain {
  @extend %fontM;
  @extend %verticalList;
}
.navLang {
  @extend %fontS;
  @extend %verticalList;
}
#mainMobileNav:not( .mm-menu ), #navMapViewer:not( .mm-menu ){
   display: none;
}
//detail styling
.navMain, .navLang {
  height: 100%;
  li {
    height: 100%;
    > a {
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0 10px;
      color: $txtColor;
    }
    &.active, &.activeLang, a:hover {
      background-color: $txtInvert;
      text-decoration: none;
      color: $txtColor;
    }
  }
}
//index styling
.navIndex {
  .navMain, .navLang {
    li  a {
      border-bottom: solid 4px white;
    }
    > li {
      &.active a, &.activeLang a, a:hover {
        text-decoration: none;
        border-bottom: solid 4px $glamosColor;
      }
    }
  }
}
