.publikationen {
  .entry {
    p {
      margin-top: 0;
    }
    .scientificTitle {
      span.normal {
        font-weight: 400;
      }
    }
  }
  .pubContentSection {
    margin-bottom: 30px;
  }
}
