**/.directory
**/.DS_Store
**/Thumbs.db
.DS_Store

# Vagrant
.vagrant/
provisioning/includes/
provisioning/????-??-??.sql
provisioning/mt.local.RootCA.crt
ubuntu-*-cloudimg-console.log

# NPM
node_modules/
npm-debug.log

log/
/storage
/.env
www/assets/images/**
!.gitkeep
