**/.directory
**/.DS_Store
**/Thumbs.db
.DS_Store

# Vagrant
.vagrant/
provisioning/includes/
provisioning/????-??-??.sql
provisioning/mt.local.RootCA.crt
ubuntu-*-cloudimg-console.log

# NPM
node_modules/
npm-debug.log

log/
/storage
/.env
www/assets/images/**
!.gitkeep
/www/theme/js/glamos.dev.js.map
/www/theme/js/glamos.dev.js
/www/theme/css/glamos.dev.css.map
/www/theme/css/glamos.dev.css
/theme_src/scss/glamos.scss
/theme_src/js/glamos.js
