body {
  font-family: "Barlow Semi Condensed", sans-serif;
  @extend %fontM;
}
.homepage {
  .navBar {
    @extend %hiddenSmUp;
  }
}
.hint {
  @extend %fontS;
  color: $txtSecColor;
}
.pageTitle {
  @extend %fontXXL;
  font-weight: 700;
  align-self: center;
  @extend %hyphenate;
  line-height: 1;
}
h2.currentGlacier {
  position: relative;
  width: 100%;
  @extend %fontXL;
  font-weight: 700 !important;
  padding-bottom: 20px;
  @extend %hyphenate;
}
h1.currentGlacier {
  position: relative;
  @extend %fontXL;
  font-weight: 700 !important;
  @extend %hyphenate;
}

p {
  @extend %fontM;
}
a {
  color: $markerColor;
  &:hover {
    text-decoration: none;
  }
}
