body {
  font-family: "Barlow Semi Condensed", sans-serif;
  @extend %fontM;
}
.homepage {
  .navBar {
    @extend %hiddenSmUp;
  }
}
.hint {
  @extend %fontS;
  color: $txtSecColor;
}
.pageTitle {
  @extend %fontXXL;
  font-weight: 700;
  align-self: center;
}