$sidebarGridSize: 300px;

.navBar {
  background-color: $glamosColor;
  .navGrid {
    height: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr 4fr $sidebarGridSize;
    grid-template-areas:  "navTitle navLogo navMain navLang";
    .navTitle {
      grid-area: navTitle;
    }
    .navLogo {
      grid-area: navLogo;
    }
    .navMain {
      grid-area: navMain;
      @extend %verticalList;
    }
    .navLang {
      grid-area: navLang;
      @extend %verticalList;
    }
  }
}
.gridMapViewer {
  display: grid;
  @media (min-height: $viewportMaxHeight) {
    min-height: 100vh;
  }
  grid-template-columns: auto;
  grid-template-rows: 60vh auto auto;
  grid-template-areas:  "map"
                        "output"
                        "sidebar";
  @include smUp {
    grid-template-columns: auto $sidebarGridSize;
    grid-template-rows: auto 300px;
    grid-template-areas:  "map sidebar"
                          "output sidebar"
  }
}
.mapContainer {
  background-color: green;
  grid-area: map;
}
.sidebarContainer {
  background-color: blue;
  grid-area: sidebar
  overflow-y: scroll;
}
.outputContainer {
  background-color: yellow;
  grid-area: output;
}
