$sideBarSizeSM: 150px;
$sidebarSizeMD: 200px;

.mainWrapper {
  .mainContent {
    display: grid;
    padding-bottom: 40px;
    grid-template-columns: 10px repeat(2, 1fr) 10px;
    @include smUp {
      grid-template-columns: 20px repeat(8, 1fr) 20px;
      margin-left: $sideBarSizeSM;
      grid-gap: 10px;
      position: relative;
      z-index: 2;
    }
    @include mdUp {
      margin-left: $sidebarSizeMD;
    }
    &:before {
      box-shadow: -2px -5px 7px -1px rgba(0,0,0,0.51);
      content: "";
      content: "";
      width: 3px;
      height: 100vh;
      @extend %hiddenSmDown;
      position: fixed;
      z-index: -1;
    }
  }
  .sideBar {
    @include smUp {
      height: 100vh;
      position: fixed;
      width: $sideBarSizeSM;
    }
    @include mdUp {
      width: $sidebarSizeMD;
    }
  }
}
.blogEntryContent {
  grid-column: 2/-2;
  @include smUp {
    grid-column: 3/-4;
    max-width: $blogContentWidth;
  }
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
