// lightgallery plugins backdrop

.lg-backdrop {
  background-color: rgba($glamosColor, .4);
}
.lg-toolbar {
  background-color: transparent;
}
#lg-counter {
  @extend %fontL;
  font-weight: 700;
}
#lg-counter, .lg-toolbar .lg-icon, .lg-actions .lg-next, .lg-actions .lg-prev {
  color: $txtColor;
  background-color: transparent;
}
.lg-outer .lg-img-wrap {
  max-width: 800px;
  margin: auto;
  max-height: 500px;
}
//hack for jumpy fixed navbar on opening the mobile menu
.mm-wrapper_opened {
  .navBar {
    position: relative;
  }
  .content, .gridMapViewer {
    margin-top: 0;
  }
}
