<div class="sidebarContainer">

  {% set translations = {
    'Hintergrundkarten':   'Hintergrundkarten' | t,
    'Gletscherausdehnung': 'Gletscherausdehnung' | t,
    'ohne Messwerte':      'ohne Messwerte' | t,
    'Massenbilanz':        'Massenbilanz' | t,
    'L채ngen채nderung':      'L채ngen채nderung' | t,
    'Gletscher':           'Gletscher' | t,
  } %}
  <div class="external layerSwitcher" data-translations="{{ translations | json_encode() }}"><b>{{ 'Karten-Layer' | t }}</b></div>

  <div class="sidebarControls comparisonContainer active">
    {% include '_molecules/fieldSearch' %}
    {% include '_molecules/mapComparisonControls' %}
  </div>

  <div class="latestMeasurements">
    {% include '_molecules/mapLatestMeasurements' %}
  </div>

</div>
