<div class="sidebarContainer">

  <div class="external layerSwitcher"><b>Karten-Layer</b></div>

  <div class="sidebarControls comparisonContainer active">
    {% include '_molecules/fieldSearch' %}
    {% include '_molecules/mapComparisonControls' %}
  </div>

  <div class="latestMeasurements">
    {% include '_molecules/mapLatestMeasurements' %}
  </div>

</div>
