<div class="outputContainer">

  <div class="chartControls">

    <select class="chartParamSelect" name="chartParamSelect">
      <option value="">Kumulative Längenänderung</option>
      <option value="">Massenbilanz</option>
      <!--
        <option value="">Volumenänderung</option>
        <option value="">Eisdicken</option>
        <option value="">Geschwindigkeiten</option>
        <option value="">Firntemperaturen</option>
      -->
    </select>

    <button class="btn">Export als PDF</button>

  </div>

  <div class="chartContainer">
    <div id="chart" class="outputChart">
      Daten werden geladen&nbsp;...
    </div>
  </div>

</div>
