{% set currentID = entry.id %}

<nav id="mainMobileNav">
   <ul>
     {% for nav in navigation %}
       <li class="{% if currentID == nav.id %}active{% endif %}">
         <a href="{{ nav.url }}" id="navbar-{{ nav.section.handle }}" class="js-keephash">{{ nav.title }}</a>
       </li>
     {% endfor %}
     {% include '_atoms/navDropdown' %}
     <li>
       <a href="#">{{ 'Sprache' | t }}</a>
       <ul>
         {% include '_molecules/langSwitcher' %}
       </ul>
     </li>
   </ul>
</nav>
