{% import '_incl/docMacros' as macro %}

{% for item in craft.entries.section('annualBook').all() %}
  <div class="pubEntry">
    <h4 class="scientificTitle">
      {{ item.title }}<br>
      <span class="normal">
        {% include '_atoms/authors' %}
        {{ macro.textField(item.publikationsmedium)}}
      </span>
    </h4>
  </div>
{% endfor %}
