{% import '_incl/docMacros' as macro %}

{% for item in craft.entries.section('annualReport').with(['pubDoc']).all() %}
  <div class="pubEntry">
    <h4 class="scientificTitle">
      {{ item.title }}<br>
      <span class="normal">
        {% include '_atoms/authors' %}<br>
        {{ macro.textField(item.publikationsmedium)}}
        {% include '_atoms/pubDoc' %}
      </span>
    </h4>
  </div>
{% endfor %}
