{# if more than two charts are in place delete class cardCommentBig #}
<div class="fsComment cardCommentBig" data-lang="{{ craft.app.language | replace( '-CH', '') }}">
  <!-- Content will be filled in by JS (factsheetDetails) -->
</div>
