{% import '_incl/docMacros' as macro %}

<div class="glacierData">
  <h2 class="currentGlacier" id="currentGlacierName">Aletschgletscher</h2>
  {{ macro.singleValue('-10','%','Längenänderung') }}
  {{ macro.singleValue('10','%','Masseänderung') }}
  <p class="hint">Letzte Messwerte: 1755</p>
  <a class="btn " href="#">Zum Aletschgletscher</a>
</div>
