{% import '_incl/docMacros' as macro %}

<div class="comparisonControlWrapper">
  {{ macro.comparisonEntry('Aletschgletscher') }}
  {{ macro.comparisonEntry('Rhonegletscher') }}
  {{ macro.comparisonEntry('Gauligletscher') }}
  {{ macro.comparisonEntry('Dingsgletscher') }}
</div>
