{% import '_incl/docMacros' as macro %}

<div class="comparisonControlWrapper" id="monitoring-glacier--list">

  {{ macro.comparisonEntry('Aletschgletscher', 'B36\/26') }}
{#
  {{ macro.comparisonEntry('Rhonegletscher', 'B43\/03', true) }}
  {{ macro.comparisonEntry('Gauligletscher','testid1') }}
  {{ macro.comparisonEntry('Dingsgletscher', 'testid2') }}
#}
  <button type="button" name="reset" class="btn">Reset</button>

</div>
