{% import '_incl/docMacros' as macro %}

<div class="comparisonControlWrapper" id="monitoring-glacier--list">
  {# EXAMPLE. They are inserted dynamically by JS
    {{ macro.comparisonEntry('Rhonegletscher', 'B43\/03', true) }}
  #}
</div>

  <button type="button" name="reset" class="btn">Reset</button>

<div id="selectionlist-max-warn" class="warn hidden">
  {# TODO {{ listFullWarnText | t }}#}
  TODO:listFullWarnText
</div>

