{% import '_incl/docMacros' as macro %}

<div class="latestMeasurementsHead">
  <h1 class="currentGlacier">
    <span class="infobox-glaciername">—</span>
    {% set lgFactsheetLink = 'Zum Factsheet' | t %}
    {{ macro.crossLink('/factsheet', lgFactsheetLink) }}
  </h1>

</div>

{% include '_molecules/factsheetFields' %}
