{% extends "_layout" %}

{% block content %}
  <div class="indexGrid">
    <div class="indexHead">Header</div>
    <div class="indexMap">Karte</div>
    <div class="indexOversight">Index oversight</div>
    <div class="mapMetadata">
      <div class="search">Search</div>
      <div class="glacierData">glacier data</div>
      <div class="socialMedia">twitter</div>
    </div>
    <div class="welcomeText">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
  </div>
{% endblock %}
