{% extends "_layout" %}

{% block content %}
  <div class="gridMapViewer">

    <div id="sidebarSwitcher">
      <a href="#" class="navSidebarToggle" data-tab="sidebarControls"></a>
      <a href="#" class="navSidebarToggle" data-tab="layerswitcher"></a>
    </div>

    {% include '_organisms/mapContainer' %}
    {% include '_organisms/mapOutput' %}
    {% include '_organisms/mapInput' %}

  </div>
  {#{% include '_organisms/navMapViewer' %}#}
{% endblock %}
