{% extends "_layout" %}

{% block content %}
  <div class="gridMapViewer">
    <div class="mapContainer">Hier kommt die Karte</div>
    <div class="sidebarContainer">Hier kommen die Steuerungselemente</div>
    <div class="outputContainer">Hier kommt der Chart</div>
  </div>
{% endblock %}
