{% extends "_layout" %}

{% block content %}
  <div class="gridMapViewer">

    <div id="sidebarSwitcher">
      <a href="#navMapViewer" class="navSidebarToggle"></a>
      <a href="#TODO2" class="navSidebarToggle"></a>
    </div>

    {% include '_organisms/mapContainer' %}
    {% include '_organisms/mapOutput' %}
    {% include '_organisms/mapInput' %}

  </div>
  {#{% include '_organisms/navMapViewer' %}#}
{% endblock %}
