{% extends "_layout" %}

{% block content %}
  <div class="gridMapViewer">
    <div class="mapContainer">x</div>
    <div class="sidebarContainer">y</div>
    <div class="outputContainer">z</div>
  </div>
{% endblock %}
