.titleCrosslink {
  margin-left: 10px;
  position: absolute;
  text-decoration: none;
  width: 20px;
  height: 20px;
  top: -20px;
  right: 0;
  &:hover {
    svg circle {
      fill: darken($markerColor, 20%);
    }
  }
  svg circle {
    fill: $markerColor;
  }
}
