.singleValue {
  width: 100%;
  p {
    @extend %fontXXL;
    font-weight: 700;
    line-height: 1;
    text-align: right;
    border-bottom: solid 4px $glamosColor;
  }
  small {
    @extend %fontM;
    text-align: right;
    display: block;
    font-weight: 400;
    padding-top: 3px;
  }
  &:not(:nth-child(2n)) { //select everything but the first
    padding-top: 20px;
  }
}
.timeValue {
  padding-top: 10px;
  width: 100%;
  text-align: right;
  padding-bottom: 40px;
  p {
    @extend %fontL;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    border-bottom: solid 4px $glamosColor;
  }
  small {
    @extend %fontS;
    font-weight: 400;
    padding-top: 3px;
  }
  abbr {
    // Hide default browser abbr-style
    border-bottom: none;
    text-decoration: none;
  }
}
