.majorLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    @extend %fontXL;
    font-weight: 700;
  }
  small {
    @extend %fontM;
    display: block;
    font-weight: 700;
    padding-top: 3px;
  }
  a {
    align-self: flex-start;
  }
}
