$burgerSize: 3px;
$gapSize: 3px;

.navMobileToggle {
  //background-color: green;
  height: 100%;
  a {
    color: $txtColor;
    display: block;
    @extend %fontM;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $markerColor;
    }
  }
}

//zweites mmenu für map viewer einstellungen
.navMapViewerToggle {
  @extend %hiddenSmUp;
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background-color: $txtInvert;
  background-image: url('/theme/img/magnifier.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  width: 44px;
  height: 44px;
  &:hover {
    opacity: 0.5;
  }
}
