$burgerSize: 3px;
$gapSize: 3px;

.navMobileToggle {
  height: 100%;
  a {
    color: $txtColor;
    display: block;
    @extend %fontM;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $markerColor;
    }
  }
}

//zweites mmenu für map viewer einstellungen
.navMapViewerToggle {
  @extend %hiddenSmUp;
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background-color: $glamosColor;
  background-image: url('/theme/img/magnifier.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  width: 44px;
  height: 44px;
  &:hover {
    opacity: 0.5;
  }
}
//hack for when drawer is opened. prevents link from jumping.
.mm-wrapper_opened {
  .navMapViewerToggle {
    top: 60px;
  }
}

.navSidebarToggle {
  margin: 3px 0 3px 3px;
  border-radius: 50% 0 0 50%;
  background-color: $glamosColor;
  background-image: url('/theme/img/magnifier.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  width: 44px;
  height: 44px;
  &:hover {
    opacity: 0.5;
  }
}

.navSidebarToggle.active {
  background-color: #a52a2a;
}

