<div class="footer">
  <div>
    <p>Directed by <a href="https://www.uzh.ch" target="_blank">Uni Zürich</a></p>
    <p>Financed by <a href="https://www.bafu.admin.ch" target="_blank">BAFU</a></p>
    <p>Design & Tech by <a href="#" target="_blank">Meteotest</a></p>
  </div>

</div>
