{% set impressumLink = craft.entries.section('impressum').one() %}

<div class="footer">
  <div>
    <ul>
      <li>© GLAMOS</li>
      <li><a href="{{ impressumLink.url }}">{{ impressumLink.title }}</a></li>
    </ul>
    <p>Design & Tech by <a href="https://meteotest.ch/" target="_blank">Meteotest</a></p>
  </div>


</div>
