<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{# detect IE 11 #}
<script type="text/javascript">

  //check for ie methods
  var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;

  //start if ie
  if (isIE11 == true) {

    //add tags to body to write scoped css
    document.body.className += " " + "internetExplorer ie11"

    //add div element to warn users that they are using an outdated browser
    window.document.body.insertAdjacentHTML( 'afterbegin', '<div class="oldIE">{{ website.internetExplorerHint }}</div>' );

  }

</script>

{% if not craft.app.config.general.devMode %}
  <script src="/theme/js/glamos.min.js?version={{ themeVersions }}"></script>
{% else %}
  <script src="/theme/js/glamos.dev.js"></script>
{% endif %}


{% if not craft.app.config.general.devMode %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1475127-18"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-1475127-18');
  </script>
{% endif %}
