.fsMeasurements {
  @extend %cardDesignAlpha;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .cardTitle {
    margin: 0;
    width: 100%;
  }
  .singleValue {
    width: 45%;
    padding-bottom: 10px;
    &:nth-last-child(-n+2) {
      p {
        @extend %fontL;
        font-weight: 700;
      }
    }
    p {
      @extend %fontXL;
      font-weight: 700;
      text-align: left;
    }
    small {
      @extend %fontM;
    }
  }

}
