.footer {
  @extend %readingWidth;
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
  > div {
    display: flex;
    grid-column: 3/-2;
    * {
      padding-right: 10px;
    }
  }
}
.homepage {
  .footer {
    display: grid;
    max-width: 100%;
    padding: 0;
    @extend %horizontalGrid;
  }
}
