.fieldSearchWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @extend %mobilePadding;
  input {
    border-radius: 40px 0 0 40px;
    background-color: lighten($glamosColor,30%);
    padding-left: 20px;
    height: 30px;
    @extend %fontM;
    border: solid 1px $lightBorder;
    min-width: 70%;
    &::-moz-placeholder {
      color: $markerColor;
      padding-left: 20px;
    }
  }
  button {
    border: none;
    flex-grow: 1;
    height: 30px;
    background-color: $markerColor;
    color: $txtInvert;
    border-radius: 0 40px 40px 0;
    margin: 0;
  }
}
